*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    transition: all ease-in .2s;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #03003e6e;
}
.form{
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    background-color: #ffff;
    padding: 15px;
}
.input-field{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.input{
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 3px;
}
.massage{
    width: 100%;
    min-height: 60px;
    padding: 10px;
    border-radius: 3px;
}
.error-massage{
    color: rgb(255, 65, 65);
}
.button-wrapper{
    text-align: center;
}
.button{
    width: 100%;
    max-width: 160px;
    height: 40px;
    border-radius: 3px; 
    border: 1px solid  #464646;
}
.button:hover{
    background-color: #464646;
    color: #ffff;
}